Resources:
  AWSEBAutoScalingLaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateName: MyLaunchTemplate
      LaunchTemplateData:
        InstanceType: t3.micro
        ImageId: ami-0117fb0c5179964d4
        KeyName: mykeypair
        SecurityGroupIds:
          - sg-0fba03f7f938ba215
        BlockDeviceMappings:
          - DeviceName: "/dev/xvda"
            Ebs:
              VolumeSize: 20
              VolumeType: gp3
              DeleteOnTermination: true
