Resources:
  AWSEBAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties:
      LaunchConfigurationName: 
        Ref: AWSEBAutoScalingLaunchConfiguration

  AWSEBAutoScalingLaunchConfiguration:
    Type: AWS::AutoScaling::LaunchConfiguration
    Properties:
      BlockDeviceMappings:
        - DeviceName: "/dev/xvda"
          Ebs:
            VolumeSize: 20          # Specify the size in GiB
            VolumeType: gp3         # Specify the volume type (gp3, gp2, io1, io2, standard)
            DeleteOnTermination: true
